cos-python-sdk-v5==1.9.22
Flask==2.2.3
openai==0.28.0
Pillow==9.4.0
pymongo==4.3.3
PyYAML==6.0
requests
waitress==2.1.2
beautifulsoup4
alibabacloud_imagerecog20190930
alibabacloud_ocr20191230
websocket_client
tiktoken