torch
cos-python-sdk-v5==1.9.22
Flask==2.2.3
openai==1.52.2
Pillow==9.4.0
pymongo==4.3.3
PyYAML==6.0
requests
diffusers==0.13.1
transformers==4.35.0
waitress==2.1.2
protobuf
cpm_kernels
mdtex2html
sentencepiece
accelerate
beautifulsoup4
alibabacloud_imagerecog20190930
alibabacloud_ocr20191230
websocket_client
aliyun-python-sdk-core==2.13.3
tiktoken
anthropic==0.34.1
httpx==0.27.2
